In [7]:
import pandas as pd
import gspread
from oauth2client.service_account import ServiceAccountCredentials

In [8]:
df_Kak_Baseline_Test_revised = pd.read_excel("Kak_Baseline_Test_revised.xlsx")

In [9]:
df_Kak_Baseline_Test_revised

,uid,bd_earner_only,bd_members_respfor,bd_bizsector,e_total_employees,e_fulltime_employees,e_parttime_employees,e_casual_employees,e_male_employees,e_female_employees,...,liv_assetsbght_4mnths,liv_cookingfuel,CB,CC,liv_expnseschl_3mnths,liv_expnsecooking,liv_expnsehhclthng,liv_expnserent,liv_expnsetrans_comm,aec_knowledge
0,part/KE16012104001,Yes,12,Fashion,3,3,0,0,2,1,...,"None, Sewing Machine",Charcoal,NaN,NaN,0,1500,1000,0,2000,"Fellow Entrepreneur/Business Owner, Aec-Kenya ..."
1,part/KE16012104002,Yes,1,Shop â€“ Retail,1,1,0,0,1,0,...,None,Charcoal,NaN,NaN,0,1000,2000,0,2000,"Fellow Entrepreneur/Business Owner, Aec-Kenya ..."
2,part/KE16012104003,Yes,11,Clothes And Textile,1,1,0,0,0,1,...,None,Firewood,Charcoal,NaN,0,700,4000,0,600,"Fellow Entrepreneur/Business Owner, Aec-Kenya ..."
3,part/KE16012104004,Yes,8,Shop â€“ Retail,3,1,2,0,1,2,...,"Chairs, Tables, Bed, Or Other Furniture",Firewood,Charcoal,NaN,0,1500,12000,0,1400,Past Clients
4,part/KE16012104005,Yes,10,Fashion,3,3,0,0,3,0,...,None,Charcoal,NaN,NaN,0,2000,3000,0,2000,"Fellow Entrepreneur/Business Owner, Aec-Kenya ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
897,part/KE16012104898,Yes,8,Shop â€“ Retail,2,2,0,0,1,1,...,None,Firewood,Charcoal,NaN,200,1400,1000,200,1500,Aec-Kenya Staff
898,part/KE16012104899,Yes,11,Shop â€“ Retail,3,3,0,0,2,0,...,None,Firewood,NaN,NaN,0,700,0,0,600,Client Is Not Aware Of Aec
899,part/KE16012104900,Yes,4,Fashion,1,1,0,0,0,1,...,None,Firewood,Charcoal,NaN,0,1400,0,0,600,"Fellow Entrepreneur/Business Owner, Neighbors"
900,part/KE16012104901,No,7,Shop â€“ Wholesale,4,4,0,0,3,0,...,None,Firewood,Charcoal,NaN,3000,1400,30000,0,2500,Fellow Entrepreneur/Business Owner
901,part/KE16012104902,Yes,4,Hospitality And Tourism â€“ Restaurant,5,5,0,0,1,3,...,None,Charcoal,NaN,NaN,0,700,5000,0,800,Client Is Not Aware About Aec

In [10]:
df_Kak_Baseline_Test_revised = df_Kak_Baseline_Test_revised.dropna(axis='index',how='any',subset=['CB'])

df_Kak_Baseline_Test_revised = df_Kak_Baseline_Test_revised.drop('CC',axis=1)

In [11]:
df_Kak_Baseline_Test_revised = df_Kak_Baseline_Test_revised.set_index('uid')

In [12]:
df_Kak_Baseline_Test_revised = df_Kak_Baseline_Test_revised.reset_index()

In [13]:
df_Kak_Baseline_Test_revised

,uid,bd_earner_only,bd_members_respfor,bd_bizsector,e_total_employees,e_fulltime_employees,e_parttime_employees,e_casual_employees,e_male_employees,e_female_employees,...,Inthelast4monthsdidyoubu,liv_assetsbght_4mnths,liv_cookingfuel,CB,liv_expnseschl_3mnths,liv_expnsecooking,liv_expnsehhclthng,liv_expnserent,liv_expnsetrans_comm,aec_knowledge
0,part/KE16012104003,Yes,11,Clothes And Textile,1,1,0,0,0,1,...,Twice A Week,None,Firewood,Charcoal,0,700,4000,0,600,"Fellow Entrepreneur/Business Owner, Aec-Kenya ..."
1,part/KE16012104004,Yes,8,Shop â€“ Retail,3,1,2,0,1,2,...,Three Times A Week Or More,"Chairs, Tables, Bed, Or Other Furniture",Firewood,Charcoal,0,1500,12000,0,1400,Past Clients
2,part/KE16012104006,Yes,13,Shop â€“ Retail,2,3,2,0,1,1,...,Once A Week,"Chairs, Tables, Bed, Or Other Furniture",Firewood,Charcoal,7000,700,3000,0,1500,Fellow Entrepreneur/Business Owner
3,part/KE16012104010,Yes,7,Shop â€“ Retail,2,2,0,0,2,0,...,Three Times A Week Or More,Clothes,Firewood,Charcoal,33000,1200,3000,200,4500,Aec-Kenya Staff
4,part/KE16012104012,Yes,11,Mpesa Shop And Retail Shop,2,2,0,0,2,0,...,Three Times A Week Or More,None,Firewood,Charcoal,0,600,4500,0,200,Aec-Kenya Staff
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,part/KE16012104890,Yes,4,Fashion,2,2,0,0,1,1,...,Twice A Week,None,Firewood,Charcoal,0,800,1500,200,1000,Aec-Kenya Staff
297,part/KE16012104895,Yes,5,Professional/Business Services,2,2,0,0,1,0,...,Once A Week,None,Firewood,Charcoal,0,1200,0,0,1000,Her Son
298,part/KE16012104898,Yes,8,Shop â€“ Retail,2,2,0,0,1,1,...,Once A Week,None,Firewood,Charcoal,200,1400,1000,200,1500,Aec-Kenya Staff
299,part/KE16012104900,Yes,4,Fashion,1,1,0,0,0,1,...,Three Times A Week Or More,None,Firewood,Charcoal,0,1400,0,0,600,"Fellow Entrepreneur/Business Owner, Neighbors"
300,part/KE16012104901,No,7,Shop â€“ Wholesale,4,4,0,0,3,0,...,Twice A Week,None,Firewood,Charcoal,3000,1400,30000,0,2500,Fellow Entrepreneur/Business Owner

In [14]:
df_Kak_endline_Test_revised = pd.read_excel("Kak_endline_Test_revised.xlsx")

In [15]:
df_Kak_endline_Test_revised

,unique_id,cd_gender,cd_nationality,cd_strata,cd_age,client_location,bd_location,cd_enum_name,consent,consent_yesno,...,bd_biz_failure_reasn_5,bd_biz_failure_reasn_6,bd_biz_failure_reasn_7,bd_biz_failure_reasn_8,bd_biz_failure_reasn_otr,refusal,otherpecify,end_comment,end_commentyes,thanks
0,7,Male,Kenyan,Host community entrepreneur,36,Kakuma town,Kakuma town,Khaltom Abdallar Abakar,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN
1,8,Female,Kenyan,Host community entrepreneur,32,Kakuma town,Kakuma town,Losike Josephat,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,God bless AEC,NaN
2,PART/KE16012104001,Male,Congolese,Refugee,25,Kakuma 2,Kakuma 2,Losike Josephat,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN
3,PART/KE16012104002,Male,Sudanese,Refugee,39,Kakuma 3,Kakuma 3,Ramla Abdullahi,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,I will be looking forward to your help.,NaN
4,PART/KE16012104003,Female,Somali,Refugee,35,Kakuma 3,Kakuma 3,Ramla Abdullahi,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532,PART/KE16012104896,Female,Somali,Refugee,45,Kakuma 3,Kakuma 3,Losike Josephat,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN
533,PART/KE16012104897,Female,Kenyan,Host,26,Kakuma Town,Kakuma Town,David Chol,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN
534,PART/KE16012104898,Male,Somali,Refugee,20,Kakuma 3,Kakuma 3,Losike Josephat,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN
535,PART/KE16012104899,Female,Somali,Refugee,47,Kakuma 3,Kakuma 3,Losike Josephat,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN
536,PART/KE16012104900,Female,Somali,Refugee,30,Kakuma 2,Kakuma 2,David Chol,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN

In [16]:
df_Kak_endline_Test_revised = df_Kak_endline_Test_revised.drop('bd_biz_failure_reasn_5',axis=1)

In [17]:
df_Kak_endline_Test_revised

,unique_id,cd_gender,cd_nationality,cd_strata,cd_age,client_location,bd_location,cd_enum_name,consent,consent_yesno,...,bd_biz_failure_reasn_4,bd_biz_failure_reasn_6,bd_biz_failure_reasn_7,bd_biz_failure_reasn_8,bd_biz_failure_reasn_otr,refusal,otherpecify,end_comment,end_commentyes,thanks
0,7,Male,Kenyan,Host community entrepreneur,36,Kakuma town,Kakuma town,Khaltom Abdallar Abakar,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN
1,8,Female,Kenyan,Host community entrepreneur,32,Kakuma town,Kakuma town,Losike Josephat,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,God bless AEC,NaN
2,PART/KE16012104001,Male,Congolese,Refugee,25,Kakuma 2,Kakuma 2,Losike Josephat,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN
3,PART/KE16012104002,Male,Sudanese,Refugee,39,Kakuma 3,Kakuma 3,Ramla Abdullahi,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,I will be looking forward to your help.,NaN
4,PART/KE16012104003,Female,Somali,Refugee,35,Kakuma 3,Kakuma 3,Ramla Abdullahi,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532,PART/KE16012104896,Female,Somali,Refugee,45,Kakuma 3,Kakuma 3,Losike Josephat,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN
533,PART/KE16012104897,Female,Kenyan,Host,26,Kakuma Town,Kakuma Town,David Chol,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN
534,PART/KE16012104898,Male,Somali,Refugee,20,Kakuma 3,Kakuma 3,Losike Josephat,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN
535,PART/KE16012104899,Female,Somali,Refugee,47,Kakuma 3,Kakuma 3,Losike Josephat,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN
536,PART/KE16012104900,Female,Somali,Refugee,30,Kakuma 2,Kakuma 2,David Chol,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN

In [18]:
df_Kak_endline_Test_revised = df_Kak_endline_Test_revised.drop('bd_biz_failure_reasn_4',axis=1)

In [19]:
df_Kak_endline_Test_revised

,unique_id,cd_gender,cd_nationality,cd_strata,cd_age,client_location,bd_location,cd_enum_name,consent,consent_yesno,...,bd_biz_failure_reasn_3,bd_biz_failure_reasn_6,bd_biz_failure_reasn_7,bd_biz_failure_reasn_8,bd_biz_failure_reasn_otr,refusal,otherpecify,end_comment,end_commentyes,thanks
0,7,Male,Kenyan,Host community entrepreneur,36,Kakuma town,Kakuma town,Khaltom Abdallar Abakar,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN
1,8,Female,Kenyan,Host community entrepreneur,32,Kakuma town,Kakuma town,Losike Josephat,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,God bless AEC,NaN
2,PART/KE16012104001,Male,Congolese,Refugee,25,Kakuma 2,Kakuma 2,Losike Josephat,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN
3,PART/KE16012104002,Male,Sudanese,Refugee,39,Kakuma 3,Kakuma 3,Ramla Abdullahi,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,I will be looking forward to your help.,NaN
4,PART/KE16012104003,Female,Somali,Refugee,35,Kakuma 3,Kakuma 3,Ramla Abdullahi,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532,PART/KE16012104896,Female,Somali,Refugee,45,Kakuma 3,Kakuma 3,Losike Josephat,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN
533,PART/KE16012104897,Female,Kenyan,Host,26,Kakuma Town,Kakuma Town,David Chol,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN
534,PART/KE16012104898,Male,Somali,Refugee,20,Kakuma 3,Kakuma 3,Losike Josephat,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN
535,PART/KE16012104899,Female,Somali,Refugee,47,Kakuma 3,Kakuma 3,Losike Josephat,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN
536,PART/KE16012104900,Female,Somali,Refugee,30,Kakuma 2,Kakuma 2,David Chol,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN

In [20]:
df_Kak_endline_Test_revised = df_Kak_endline_Test_revised.drop('bd_biz_failure_reasn_3',axis=1)

In [21]:
df_Kak_endline_Test_revised = df_Kak_endline_Test_revised.drop(['bd_biz_failure_reasn_2','bd_biz_failure_reasn_6'], axis=1)

In [22]:
df_Kak_endline_Test_revised = df_Kak_endline_Test_revised.drop(['bd_biz_failure_reasn_1','bd_biz_failure_reasn_7','bd_biz_failure_reasn_8'], axis=1)

In [23]:
df_Kak_endline_Test_revised = df_Kak_endline_Test_revised.drop(['bd_biz_failure_reasn','consent','bd_biz_failure_reasn_otr','refusal','otherpecify','thanks'],axis=1)

In [24]:
df_Kak_endline_Test_revised = df_Kak_endline_Test_revised.drop(['liv_cookingfuel_otr','Section_G_Section_G_proved_in_th'],axis=1)

In [25]:
df_Kak_endline_Test_revised

,unique_id,cd_gender,cd_nationality,cd_strata,cd_age,client_location,bd_location,cd_enum_name,consent_yesno,surv_date,...,liv_meals_skip_base,liv_meals_skip_end,liv_meals_meat,liv_cookingfuel,ss_aecscrvcs_satisfied_rate,ss_aecscrvcs_recommend,ss_aecscrvcs_recommend_reasn,ss_partofprogram_again,end_comment,end_commentyes
0,7,Male,Kenyan,Host community entrepreneur,36,Kakuma town,Kakuma town,Khaltom Abdallar Abakar,1,2021-10-22,...,Twice a week,Once a week,Twice a week,Charcoal,Very satisfied,8.0,They give but not enough loan amount s,Yes,No,NaN
1,8,Female,Kenyan,Host community entrepreneur,32,Kakuma town,Kakuma town,Losike Josephat,1,2021-10-22,...,Twice a week,None,Three times a week or more,Charcoal,Very satisfied,9.0,Because I benefited and l also need my friend ...,Yes,Yes,God bless AEC
2,PART/KE16012104001,Male,Congolese,Refugee,25,Kakuma 2,Kakuma 2,Losike Josephat,1,2021-10-26,...,Twice a week,Once a week,Twice a week,Charcoal,NaN,NaN,NaN,NaN,No,NaN
3,PART/KE16012104002,Male,Sudanese,Refugee,39,Kakuma 3,Kakuma 3,Ramla Abdullahi,1,2021-11-03,...,None,None,Once a week,I do not cook - buy food from restaurants/food...,NaN,NaN,NaN,NaN,Yes,I will be looking forward to your help.
4,PART/KE16012104003,Female,Somali,Refugee,35,Kakuma 3,Kakuma 3,Ramla Abdullahi,1,2021-11-03,...,None,None,Three times a week or more,Firewood,NaN,NaN,NaN,NaN,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532,PART/KE16012104896,Female,Somali,Refugee,45,Kakuma 3,Kakuma 3,Losike Josephat,1,2021-11-04,...,None,None,Three times a week or more,Charcoal,Satisfied,5.0,Because I have not received any loan,No,No,NaN
533,PART/KE16012104897,Female,Kenyan,Host,26,Kakuma Town,Kakuma Town,David Chol,1,2021-10-27,...,Three times a week or more,Three times a week or more,Once a month,Firewood,Dissatisfied,10.0,TO ACQUIRE SKILLS ON HOW TO IMPROVE AND OPERAT...,Yes,No,NaN
534,PART/KE16012104898,Male,Somali,Refugee,20,Kakuma 3,Kakuma 3,Losike Josephat,1,2021-11-03,...,None,None,Three times a week or more,Charcoal,Satisfied,6.0,Because I haven't received loan,Yes,No,NaN
535,PART/KE16012104899,Female,Somali,Refugee,47,Kakuma 3,Kakuma 3,Losike Josephat,1,2021-11-04,...,None,None,Twice a week,Charcoal,Satisfied,5.0,I have not received any benefit,Yes,No,NaN
536,PART/KE16012104900,Female,Somali,Refugee,30,Kakuma 2,Kakuma 2,David Chol,1,2021-11-01,...,None,None,Three times a week or more,Charcoal,Very satisfied,9.0,THE SERVICES OFFERED BY AEC -KENYA HAS BEEN HE...,Yes,No,NaN

In [26]:
df_Kak_endline_Test_revised = df_Kak_endline_Test_revised.dropna(axis= 'index', how='any',subset=['ss_aecscrvcs_recommend_reasn'])

In [27]:
df_Kak_endline_Test_revised = df_Kak_endline_Test_revised.dropna(axis= 'index', how='any',subset=['end_commentyes'])

In [28]:
df_Kak_endline_Test_revised = df_Kak_endline_Test_revised.reset_index()

In [29]:
df_Kak_endline_Test_revised

,index,unique_id,cd_gender,cd_nationality,cd_strata,cd_age,client_location,bd_location,cd_enum_name,consent_yesno,...,liv_meals_skip_base,liv_meals_skip_end,liv_meals_meat,liv_cookingfuel,ss_aecscrvcs_satisfied_rate,ss_aecscrvcs_recommend,ss_aecscrvcs_recommend_reasn,ss_partofprogram_again,end_comment,end_commentyes
0,1,8,Female,Kenyan,Host community entrepreneur,32,Kakuma town,Kakuma town,Losike Josephat,1,...,Twice a week,None,Three times a week or more,Charcoal,Very satisfied,9.0,Because I benefited and l also need my friend ...,Yes,Yes,God bless AEC
1,5,PART/KE16012104004,Male,Sudanese,Refugee,48,Kakuma 3,Kakuma 3,Ramla Abdullahi,1,...,None,None,Once a month,Charcoal,Very satisfied,10.0,I think it will help,Yes,Yes,I would be grateful if we receive a help from AEC
2,13,PART/KE16012104014,Male,Sudanese,Refugee,31,Kakuma 4,Kakuma 4,Ramla Abdullahi,1,...,Twice a week,Twice a week,Rarely in a month,Firewood,Satisfied,4.0,It did not helped me,Yes,Yes,I don't want a loan I just need them to help m...
3,24,PART/KE16012104031,Male,Somali,Refugee,30,Kalobeyei,Kalobeyei,Ramla Abdullahi,1,...,None,None,Three times a week or more,Charcoal,Very satisfied,8.0,I think it may help others,Yes,Yes,I need a support from AEC because I have alot ...
4,30,PART/KE16012104041,Female,Ethiopian,Refugee,35,Kalobeyei,Kalobeyei,Ramla Abdullahi,1,...,None,None,Twice a week,Charcoal,Very satisfied,9.0,I think it helps people to expand business,Yes,Yes,I would like to get a help from AEC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,511,PART/KE16012104850,Female,Kenyan,Host,32,Kakuma Town,Kakuma Town,Khaltom Abdallar Abakar,1,...,None,None,Once a week,Firewood,Neutral,5.0,It will help them with loans,Yes,Yes,"After this interview, how do I benefit?"
81,512,PART/KE16012104854,Male,Kenyan,Host,34,Kakuma Town,Kakuma Town,Dorcas Elibit,1,...,None,None,Twice a week,Gas,Satisfied,10.0,AEC is good,Yes,Yes,Need loan
82,521,PART/KE16012104874,Female,Kenyan,Host,35,Kakuma Town,Kakuma Town,David Chol,1,...,Twice a week,Twice a week,Rarely in a month,Charcoal,Satisfied,10.0,AEC-KENYA IS HELPING IN MANAGEMENT THROUGH TRA...,Yes,Yes,AEC-KENYA SHOULD HELP WITH LOANS TO IMPROVE MY...
83,528,PART/KE16012104886,Male,Kenyan,Host,32,Kakuma Town,Kakuma Town,David Chol,1,...,Twice a week,None,Three times a week or more,Gas,Very satisfied,10.0,AEC -KENYA CHARGES VERY LITTLE INTEREST,Yes,Yes,AEC -KENYA HAS BEEN HELPFUL IN TERMS OF TRAINI...
84,530,PART/KE16012104892,Male,Kenyan,Host,37,Kakuma Town,Kakuma Town,David Chol,1,...,None,None,Once a week,Charcoal,Very satisfied,8.0,AEC-KENYA TRAININGS HAS BEEN HELPFUL IN TRACKI...,Yes,Yes,AEC- SHOULD AT LEAST HELP US WITH LOANS TO BOO...

In [41]:
df_Kak_endline_Test_revised = df_Kak_endline_Test_revised.set_index('unique_id')

In [43]:
df_Kak_endline_Test_revised = df_Kak_endline_Test_revised.reset_index()

In [47]:
df_Kak_endline_Test_revised = df_Kak_endline_Test_revised.drop('index',axis=1)

In [48]:
df_Kak_endline_Test_revised

,unique_id,cd_gender,cd_nationality,cd_strata,cd_age,client_location,bd_location,cd_enum_name,consent_yesno,surv_date,...,liv_meals_skip_base,liv_meals_skip_end,liv_meals_meat,liv_cookingfuel,ss_aecscrvcs_satisfied_rate,ss_aecscrvcs_recommend,ss_aecscrvcs_recommend_reasn,ss_partofprogram_again,end_comment,end_commentyes
0,8,Female,Kenyan,Host community entrepreneur,32,Kakuma town,Kakuma town,Losike Josephat,1,2021-10-22,...,Twice a week,None,Three times a week or more,Charcoal,Very satisfied,9.0,Because I benefited and l also need my friend ...,Yes,Yes,God bless AEC
1,PART/KE16012104004,Male,Sudanese,Refugee,48,Kakuma 3,Kakuma 3,Ramla Abdullahi,1,2021-11-03,...,None,None,Once a month,Charcoal,Very satisfied,10.0,I think it will help,Yes,Yes,I would be grateful if we receive a help from AEC
2,PART/KE16012104014,Male,Sudanese,Refugee,31,Kakuma 4,Kakuma 4,Ramla Abdullahi,1,2021-11-08,...,Twice a week,Twice a week,Rarely in a month,Firewood,Satisfied,4.0,It did not helped me,Yes,Yes,I don't want a loan I just need them to help m...
3,PART/KE16012104031,Male,Somali,Refugee,30,Kalobeyei,Kalobeyei,Ramla Abdullahi,1,2021-11-10,...,None,None,Three times a week or more,Charcoal,Very satisfied,8.0,I think it may help others,Yes,Yes,I need a support from AEC because I have alot ...
4,PART/KE16012104041,Female,Ethiopian,Refugee,35,Kalobeyei,Kalobeyei,Ramla Abdullahi,1,2021-11-09,...,None,None,Twice a week,Charcoal,Very satisfied,9.0,I think it helps people to expand business,Yes,Yes,I would like to get a help from AEC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,PART/KE16012104850,Female,Kenyan,Host,32,Kakuma Town,Kakuma Town,Khaltom Abdallar Abakar,1,2021-10-29,...,None,None,Once a week,Firewood,Neutral,5.0,It will help them with loans,Yes,Yes,"After this interview, how do I benefit?"
81,PART/KE16012104854,Male,Kenyan,Host,34,Kakuma Town,Kakuma Town,Dorcas Elibit,1,2021-11-11,...,None,None,Twice a week,Gas,Satisfied,10.0,AEC is good,Yes,Yes,Need loan
82,PART/KE16012104874,Female,Kenyan,Host,35,Kakuma Town,Kakuma Town,David Chol,1,2021-10-26,...,Twice a week,Twice a week,Rarely in a month,Charcoal,Satisfied,10.0,AEC-KENYA IS HELPING IN MANAGEMENT THROUGH TRA...,Yes,Yes,AEC-KENYA SHOULD HELP WITH LOANS TO IMPROVE MY...
83,PART/KE16012104886,Male,Kenyan,Host,32,Kakuma Town,Kakuma Town,David Chol,1,2021-10-27,...,Twice a week,None,Three times a week or more,Gas,Very satisfied,10.0,AEC -KENYA CHARGES VERY LITTLE INTEREST,Yes,Yes,AEC -KENYA HAS BEEN HELPFUL IN TERMS OF TRAINI...
84,PART/KE16012104892,Male,Kenyan,Host,37,Kakuma Town,Kakuma Town,David Chol,1,2021-10-27,...,None,None,Once a week,Charcoal,Very satisfied,8.0,AEC-KENYA TRAININGS HAS BEEN HELPFUL IN TRACKI...,Yes,Yes,AEC- SHOULD AT LEAST HELP US WITH LOANS TO BOO...

In [30]:
df_Survey_Codebook_revised = pd.read_excel("Survey Codebook_revised.xlsx")

In [31]:
df_Survey_Codebook_revised

,Section,Survey Question (Label),variable name
0,NaN,NaN,NaN
1,A. Client Demographics,NaN,NaN
2,NaN,Surveyor/Enumerator name,cd_enum_name
3,NaN,Gender,cd_gender
4,NaN,Name/Clients name,cd_name
...,...,...,...
94,NaN,if you are not in a saving group and you are s...,liv_sgno_saveany_hw
95,NaN,if other saving mode specify,liv_sgno_saveany_hw_otr
96,NaN,What is your second income resource?,liv_second_incsource
97,NaN,How much money yourself do you save per month?,liv_sgno_saveany_hwmuch
98,NaN,Do you feel that there is a change in househol...,liv_livingcond_change

In [32]:
df_Survey_Codebook_revised = df_Survey_Codebook_revised.dropna(axis= 'index',how='any',subset=['Survey Question (Label)'])

In [33]:
df_Survey_Codebook_revised

,Section,Survey Question (Label),variable name
2,NaN,Surveyor/Enumerator name,cd_enum_name
3,NaN,Gender,cd_gender
4,NaN,Name/Clients name,cd_name
5,NaN,Age of respondent,cd_age
6,NaN,Age group/range,cd_agegroup
...,...,...,...
94,NaN,if you are not in a saving group and you are s...,liv_sgno_saveany_hw
95,NaN,if other saving mode specify,liv_sgno_saveany_hw_otr
96,NaN,What is your second income resource?,liv_second_incsource
97,NaN,How much money yourself do you save per month?,liv_sgno_saveany_hwmuch
98,NaN,Do you feel that there is a change in househol...,liv_livingcond_change

In [34]:
 df_Survey_Codebook_revised = df_Survey_Codebook_revised.drop('Section',axis=1)

In [35]:
df_Survey_Codebook_revised

                              Survey Question (Label)           variable name
2                            Surveyor/Enumerator name             cd_enum_name
3                                              Gender                cd_gender
4                                   Name/Clients name                  cd_name
5                                   Age of respondent                   cd_age
6                                     Age group/range              cd_agegroup
..                                                ...                      ...
94  if you are not in a saving group and you are s...      liv_sgno_saveany_hw
95                       if other saving mode specify  liv_sgno_saveany_hw_otr
96               What is your second income resource?     liv_second_incsource
97     How much money yourself do you save per month?  liv_sgno_saveany_hwmuch
98  Do you feel that there is a change in househol...    liv_livingcond_change

[88 rows x 2 columns]

In [36]:
df_Survey_Codebook_revised = df_Survey_Codebook_revised.set_index('Survey Question (Label)')

In [37]:
df_Survey_Codebook_revised = df_Survey_Codebook_revised.reset_index()

In [38]:
df_Survey_Codebook_revised

                              Survey Question (Label)           variable name
0                            Surveyor/Enumerator name             cd_enum_name
1                                              Gender                cd_gender
2                                   Name/Clients name                  cd_name
3                                   Age of respondent                   cd_age
4                                     Age group/range              cd_agegroup
..                                                ...                      ...
83  if you are not in a saving group and you are s...      liv_sgno_saveany_hw
84                       if other saving mode specify  liv_sgno_saveany_hw_otr
85               What is your second income resource?     liv_second_incsource
86     How much money yourself do you save per month?  liv_sgno_saveany_hwmuch
87  Do you feel that there is a change in househol...    liv_livingcond_change

[88 rows x 2 columns]

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="arsa"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE INKOMOKO_DB")

In [4]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="arsa",
  database="INKOMOKO_DB"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Survey_Codebook_revised (SurveyQuestion VARCHAR(255), variableName VARCHAR(255))")

In [53]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="arsa",
  database="INKOMOKO_DB"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Kak_endline_Test_revised (unique_id VARCHAR(255), cd_gender VARCHAR(255),cd_nationality VARCHAR(255) ,cd_strata VARCHAR(255),cd_age NVARCHAR(255),client_location VARCHAR(255),bd_location VARCHAR(255),cd_enum_name VARCHAR(255),consent_yesno INT,surv_date DATE)")

In [56]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="arsa",
  database="INKOMOKO_DB"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Kak_Baseline_Test_revised (uid VARCHAR(255), bd_earner_only VARCHAR(255),bd_members_respfor INT ,bd_bizsector VARCHAR(255),e_total_employees INT,e_fulltime_employees INT,e_parttime_employees INT,e_casual_employees INT,e_male_employees INT,e_female_employees INT)")

In [ ]:
from pandas.io import sql
import MySQLdb
import sqlalchemy
import pymysql
import pandas as pd

conni=pymysql.connect(host='localhost',port=int(3306),user='root',passwd='arsa',db='INKOMOKO_DB')

df_Survey_Codebook_revised.to_sql(con=conni,name='Survey_Codebook_revised')


df_Kak_Baseline_Test_revised.to_sql(con=conni,name='Kak_Baseline_Test_revised')

df_Kak_endline_Test_revised.to_sql(con=conni,name='Kak_endline_Test_revised')